<build> 
	<plugin>
		<groupid>org.apache.maven.plugins</groupid>
		<artifactld>maven-surefire-plugin</artifactld>
		<version>3.0.0-M5</version>
		<configuration>
			<suiteXmIFiles>
				<suiteXmiFile>src/test/resources/testng.xml</suiteXmiFile>
			</suiteXmIFiles>
		</configuration>
	</plugin>
</plugins>
</build>
